.card {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 15px 25px rgba(124, 127, 129, 0.801);
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.692);
    padding: 10px;
}

.page-item {

    border-color: #111827;
    background-color: #0055ff !important;
}

.ListaOrdenes {
    font-family: 'Century Gothic';
}