@import url("/src/assets/styles/custom.scss");

.container {
  font-size: 16px;
  background: rgb(88, 169, 228);
  background: linear-gradient(
    180deg,
    rgb(110, 195, 255) 13.97%,
    rgba(0, 209, 255, 0) 89.21%
  );
  min-height: 100vh;
}
