@import "/src/assets/styles/colors";

.home {
  &-heading {
    text-transform: uppercase;
    color: $danger;
  }

  &-info h2 {
    margin: 5rem 0 1rem;
  }

  &-time {
    color: $danger;
    font-size: 2rem;
    text-transform: uppercase;

    p {
      font-family: "Century Gothic Bold";
    }
  }
}
