@import url("/src/assets/styles/custom.scss");

body {
  font-size: 16px;
  background: rgb(88, 169, 228);
  background: linear-gradient(
    180deg,
    rgba(88, 169, 228, 1) 13.97%,
    rgba(0, 209, 255, 0) 89.21%
  );
  min-height: 100vh;
}

img {
  max-width: 100%;
}
